[submodule "third_party/internetarchive"]
	path = third_party/internetarchive
	url = https://github.com/galv/internetarchive.git
[submodule "kaldi"]
	path = third_party/kaldi
	url = https://github.com/galv/kaldi.git
[submodule "third_party/pydub"]
	path = third_party/pydub
	url = https://github.com/galv/pydub.git
[submodule "third_party/NeMo"]
	path = third_party/NeMo
	url = https://github.com/NVIDIA/NeMo.git
[submodule "third_party/spark"]
	path = third_party/spark
	url = https://github.com/apache/spark.git
