[submodule "third_party/internetarchive"]
	path = third_party/internetarchive
	url = git://github.com/galv/internetarchive.git
[submodule "kaldi"]
	path = third_party/kaldi
	url = git://github.com/galv/kaldi.git
[submodule "third_party/pydub"]
	path = third_party/pydub
	url = https://github.com/galv/pydub.git
[submodule "third_party/NeMo"]
	path = third_party/NeMo
	url = https://github.com/JFCeron/NeMo.git
	branch = the-peoples-speech
